.carousel-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to left, rgba(247, 247, 247, 0.85) 0%, rgba(4, 0, 12, 0.85) 100%);
}

/* .carousel-item-1 {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  } */
.team-member {
    display: flex;
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(244, 245, 247);
    border-radius: 10px;
    transition: transform 0.5s ease-in-out, box-shadow 1s ease 0.3s;
}

.team-member:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 26px 6px rgba(0,0,0,0.75);
}

.member-img {
    width: 36%;
    align-self: center;
    margin-right: 30px;
}

/* .member-img img{
    margin: 0 auto;
    border: 1px solid #fff;
} */

.member-information {
    width: 70%;
}

.member-description {
    margin-top: 40px;
}

.member-information h4 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #000;
}

.member-description {
    color: #000;
}

.member-description ul {
    list-style-type: circle;
}

.team-socials {
    margin-top: 0;
    padding-top: 18px;
}

.about-us__title {
    text-align: center;
}

@media (max-width: 990px) {
    .team-member {
        flex-direction: column;
    }

    .member-information {
        width: 100%;
        padding: 0 30px;
    }
}

@keyframes animation {
    0% {
        box-shadow: 4px 4px 11px 0px rgba(0,0,0,0.75);
    }
    50% {
        box-shadow: 8px 8px 11px 0px rgba(0,0,0,0.75);
    }
    100% {
        box-shadow: 8px 8px 26px -4px rgba(0,0,0,0.75);
    }
}
.img-responsive{
    display:block;
    width:100%;
    max-width:100%;
    height:auto;
    padding-left: 10px;
}
.global-component-crumbs {
    margin: 15px 0px -10px 20px;
}

.global-component-crumbs__separator {
    padding: 0 10px;
}
.info-table {
    margin-top: 50px;
}
/* Tablet and up */

@media screen and (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
        -webkit-transition: none;
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/* Desktop and up */

@media screen and (min-width: 992px) {
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        -webkit-transition: none;
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* Контакти */
.section-padding {
    padding: 45px 0;
}
.section-dark {
    background-color: #f9f9f9;
    z-index: -2;
}
.form-control,
.form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 0 2px, 100% 1px;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center -webkit-calc(100% - 1px);
    background-position: center bottom, center calc(100% - 1px);
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}

.form-control::-moz-placeholder,
.form-group .form-control::-moz-placeholder {
    color: #BDBDBD;
    font-weight: 400
}

.form-control:-ms-input-placeholder,
.form-group .form-control:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 400
}

.form-control::-webkit-input-placeholder,
.form-group .form-control::-webkit-input-placeholder {
    color: #BDBDBD;
    font-weight: 400
}

.form-control[disabled],
.form-control[readonly],
.form-group .form-control[disabled],
.form-group .form-control[readonly],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control {
    background-color: rgba(0, 0, 0, 0)
}

.form-control[disabled],
.form-group .form-control[disabled],
fieldset[disabled] .form-control,
fieldset[disabled] .form-group .form-control {
    background-image: none;
    border-bottom: 1px dotted #D2D2D2
}

.form-group {
    position: relative
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label,
.form-group.label-static label.control-label {
    position: absolute;
    pointer-events: none;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all
}

.form-group.label-floating label.control-label {
    will-change: left, top, contents
}

.form-group.label-placeholder:not(.is-empty) label.control-label {
    display: none
}

.form-group .help-block {
    position: absolute;
    display: none
}

.form-group.is-focused .form-control {
    outline: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#009688, #009688), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#009688, #009688), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    -webkit-background-size: 100% 2px, 100% 1px;
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}

.form-group.is-focused .form-control .material-input:after {
    background-color: #009688
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color: #009688
}

.form-group.is-focused.label-placeholder label,
.form-group.is-focused.label-placeholder label.control-label {
    color: #BDBDBD
}

.form-group.is-focused .help-block {
    display: block
}

.form-group.has-warning .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group.has-warning.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5722), to(#ff5722)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#ff5722, #ff5722), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#ff5722, #ff5722), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#ff5722, #ff5722), linear-gradient(#D2D2D2, #D2D2D2)
}

.form-group.has-warning .help-block,
.form-group.has-warning label.control-label {
    color: #ff5722
}

.form-group.has-error .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group.has-error .help-block,
.form-group.has-error label.control-label {
    color: #f44336
}

.form-group.has-success .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group.has-success.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4caf50), to(#4caf50)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#4caf50, #4caf50), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#4caf50, #4caf50), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2)
}

.form-group.has-success .help-block,
.form-group.has-success label.control-label {
    color: #4caf50
}

.form-group.has-info .form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-group.has-info.is-focused .form-control {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#03a9f4), to(#03a9f4)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
    background-image: -webkit-linear-gradient(#03a9f4, #03a9f4), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: -o-linear-gradient(#03a9f4, #03a9f4), -o-linear-gradient(#D2D2D2, #D2D2D2);
    background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#D2D2D2, #D2D2D2)
}

.form-group.has-info .help-block,
.form-group.has-info label.control-label {
    color: #03a9f4
}

.form-group textarea {
    resize: none
}

.form-group textarea~.form-control-highlight {
    margin-top: -11px
}

.form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.form-group select~.material-input:after {
    display: none
}

.form-control {
    margin-bottom: 7px
}

.form-control::-moz-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-control:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-control::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}
.checkbox label,
.radio label,
label {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    font-weight: 400;
    margin: 16px 0 0 0
}

.help-block {
    margin-top: 0;
    font-size: 12px
}

.form-group {
    padding-bottom: 7px;
    margin: 28px 0 0 0
}

.form-group .form-control {
    margin-bottom: 7px
}

.form-group .form-control::-moz-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-group .form-control:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-group .form-control::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-group .checkbox label,
.form-group .radio label,
.form-group label {
    font-size: 16px;
    line-height: 1.42857143;
    color: #BDBDBD;
    font-weight: 400
}

.form-group label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    font-weight: 400;
    margin: 16px 0 0 0
}

.form-group .help-block {
    margin-top: 0;
    font-size: 12px
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
    top: -7px;
    font-size: 16px;
    line-height: 1.42857143
}

.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label,
.form-group.label-static label.control-label {
    top: -30px;
    left: 0;
    font-size: 12px;
    line-height: 1.07142857
}

.form-group.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -30px;
    left: 0;
    font-size: 12px;
    line-height: 1.07142857
}

.form-group.form-group-sm {
    padding-bottom: 3px;
    margin: 21px 0 0 0
}

.form-group.form-group-sm .form-control {
    margin-bottom: 3px
}

.form-group.form-group-sm .form-control::-moz-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-sm .form-control:-ms-input-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-sm .form-control::-webkit-input-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-sm .checkbox label,
.form-group.form-group-sm .radio label,
.form-group.form-group-sm label {
    font-size: 11px;
    line-height: 1.5;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-sm label.control-label {
    font-size: 9px;
    line-height: 1.125;
    font-weight: 400;
    margin: 16px 0 0 0
}

.form-group.form-group-sm .help-block {
    margin-top: 0;
    font-size: 9px
}

.form-group.form-group-sm.label-floating label.control-label,
.form-group.form-group-sm.label-placeholder label.control-label {
    top: -11px;
    font-size: 11px;
    line-height: 1.5
}

.form-group.form-group-sm.label-floating.is-focused label.control-label,
.form-group.form-group-sm.label-floating:not(.is-empty) label.control-label,
.form-group.form-group-sm.label-static label.control-label {
    top: -25px;
    left: 0;
    font-size: 9px;
    line-height: 1.125
}

.form-group.form-group-sm.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -25px;
    left: 0;
    font-size: 9px;
    line-height: 1.125
}

.form-group.form-group-lg {
    padding-bottom: 9px;
    margin: 30px 0 0 0
}

.form-group.form-group-lg .form-control {
    margin-bottom: 9px
}

.form-group.form-group-lg .form-control::-moz-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-lg .form-control:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-lg .form-control::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.3333333;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-lg .checkbox label,
.form-group.form-group-lg .radio label,
.form-group.form-group-lg label {
    font-size: 18px;
    line-height: 1.3333333;
    color: #BDBDBD;
    font-weight: 400
}

.form-group.form-group-lg label.control-label {
    font-size: 14px;
    line-height: .99999998;
    font-weight: 400;
    margin: 16px 0 0 0
}

.form-group.form-group-lg .help-block {
    margin-top: 0;
    font-size: 14px
}

.form-group.form-group-lg.label-floating label.control-label,
.form-group.form-group-lg.label-placeholder label.control-label {
    top: -5px;
    font-size: 18px;
    line-height: 1.3333333
}

.form-group.form-group-lg.label-floating.is-focused label.control-label,
.form-group.form-group-lg.label-floating:not(.is-empty) label.control-label,
.form-group.form-group-lg.label-static label.control-label {
    top: -32px;
    left: 0;
    font-size: 14px;
    line-height: .99999998
}

.form-group.form-group-lg.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -32px;
    left: 0;
    font-size: 14px;
    line-height: .99999998
}

select.form-control {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0
}

.form-group.is-focused select.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #D2D2D2
}

.form-group.is-focused select.form-control[multiple],
select.form-control[multiple] {
    height: 85px
}

.input-group-btn .btn {
    margin: 0 0 7px 0
}

.form-group.form-group-sm .input-group-btn .btn {
    margin: 0 0 3px 0
}

.form-group.form-group-lg .input-group-btn .btn {
    margin: 0 0 9px 0
}

.input-group .input-group-btn {
    padding: 0 12px
}

.input-group .input-group-addon {
    border: 0;
    background: 0 0
}

.form-group input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}
.contact-widget-section .single-contact-widget {
    background: #f9f9f9;
    padding: 20px 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    height: 260px;
    margin-top: 25px;
    transition: all 0.3s ease-in-out
}

.contact-widget-section .single-contact-widget i {
    font-size: 75px
}

.contact-widget-section .single-contact-widget h3 {
    font-size: 20px;
    color: #333;
    font-weight: 700;
    padding-bottom: 10px
}

.contact-widget-section .single-contact-widget p {
    line-height: 16px
}

.contact-widget-section .single-contact-widget:hover {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

#contactForm {
    margin-top: -10px
}

#contactForm .form-group label.control-label {
    color: #8c8c8c
}

#contactForm .form-control {
    font-weight: 500;
    height: auto
}
.info-page-content{
    margin-top: 30px;
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
.asd-class{
    margin-bottom: 15px;
}
.index-content a:hover{
    color:black;
    text-decoration:none;
}
.index-content{
    margin-bottom:20px;
    padding:50px 0px;

}
.index-content .row{
    margin-top:20px;
}
.index-content a{
    color: black;
}
.index-content .card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
.index-content .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
.index-content .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.index-content .card h4{
    margin:20px;
}
.index-content .card p{
    margin:20px;
    opacity: 0.65;
}
.index-content .blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.index-content .blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}
@media (max-width: 768px) {

    .index-content .col-lg-4 {
        margin-top: 20px;
    }
}
.my-5{
    margin-top:3rem!important
}.mr-5,
 .mx-5{
     margin-right:3rem!important
 }
.view{
    color:#fff!important
}

/* Боги программирования проститет меня за это, но так нужно было*/
.view {
    position: relative;
    overflow: hidden;
    cursor: default
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed
}

.view img,
.view video {
    position: relative;
    display: block
}

.view video.video-intro {
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto
}

.view.view-cascade {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border-radius: .25rem
}

.card.card-cascade
.view.view-cascade.gradient-card-header {
    padding: 1.6rem 1rem;
    text-align: center
}

.card.card-cascade
.view.view-cascade.gradient-card-header .card-header-title {
    font-weight: 500
}

.card.card-cascade
.view.view-cascade.gradient-card-header .btn-floating {
    background-color: rgba(255, 255, 255, .2)
}

.card.card-cascade.wider {
    box-shadow: none;
    background-color: transparent
}

.card.card-cascade.wider
.view.view-cascade {
    z-index: 2
}

.card.card-cascade.wider .card-body.card-body-cascade {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    margin-left: 4%;
    margin-right: 4%;
    background: #fff;
    z-index: 1;
    border-radius: 0 0 .25rem .25rem
}

.card.card-cascade.wider .card-body.card-body-cascade .card-footer {
    margin-left: -1.25rem;
    margin-right: -1.25rem
}

.card.card-cascade.wider.reverse .card-body.card-body-cascade {
    z-index: 3;
    margin-top: -1rem;
    border-radius: .25rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.card.card-cascade.narrower {
    margin-top: 1.25rem
}

.card.card-cascade.narrower .view.view-cascade {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1.25rem
}

.card.card-cascade.panel-cascade
.view {
    text-align: center;
    color: #fff
}

.overlay .mask {
    opacity: 0;
    transition: all .4s ease-in-out
}

.overlay .mask:hover {
    opacity: 1
}

.rounded-sm {
    border-radius: .2rem !important
}

.rounded {
    border-radius: .25rem !important
}

.rounded-top {
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important
}

.rounded-right {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important
}

.rounded-bottom {
    border-bottom-right-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.rounded-left {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important
}

.rounded-lg {
    border-radius: .3rem !important
}

.rounded-circle {
    border-radius: 50% !important
}

.rounded-pill {
    border-radius: 50rem !important
}

.rounded-0 {
    border-radius: 0 !important
}

.rounded {
    border-radius: .25rem !important
}

.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19) !important
}

.mask {
    opacity: 0;
    transition: all .4s ease-in-out
}

.mask:hover {
    opacity: 1
}

.rgba-white-slight, .rgba-white-slight:after {
    background-color: rgba(255, 255, 255, .1)
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    background: radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    transition: all .5s ease-out;
    transition-property: transform, opacity;
    transform: scale(0) translate(0, 0);
    pointer-events: none
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4);
    background: radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%)
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, .2)
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4)
}

.waves-notransition {
    transition: none !important
}

.waves-button, .waves-circle {
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%)
}

.waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1
}

.waves-button {
    padding: .85em 1.1em;
    border-radius: .2em
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: .2em
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%
}

.waves-float {
    -webkit-mask-image: none;
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    transition: all .3s
}

.waves-float:active {
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3)
}

.waves-block {
    display: block
}

a.waves-effect, a.waves-light {
    display: inline-block
}

.waves-effect.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4);
    background: radial-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%)
}

.waves-effect.waves-classic .waves-ripple {
    background: rgba(0, 0, 0, .2)
}

.waves-effect.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, .4)
}

.waves-notransition {
    transition: none !important
}

.waves-button, .waves-circle {
    transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%)
}

.waves-button, .waves-button-input, .waves-button:hover, .waves-button:visited {
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    outline: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    z-index: 1
}

.waves-button {
    padding: .85em 1.1em;
    border-radius: .2em
}

.waves-button-input {
    margin: 0;
    padding: .85em 1.1em
}

.waves-input-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: .2em
}

.waves-input-wrapper.waves-button {
    padding: 0
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1
}

.waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%
}

.waves-float {
    -webkit-mask-image: none;
    box-shadow: 0 1px 1.5px 1px rgba(0, 0, 0, .12);
    transition: all .3s
}

.waves-float:active {
    box-shadow: 0 8px 20px 1px rgba(0, 0, 0, .3)
}

.waves-block {
    display: block
}

a.waves-effect, a.waves-light {
    display: inline-block
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.btn-success {
    background-color: #00c851 !important;
    color: #fff
}

.btn-success:hover {
    background-color: #00e25b;
    color: #fff
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.btn-success.active, .btn-success:active, .btn-success:focus {
    background-color: #006228
}

.btn-success.dropdown-toggle {
    background-color: #00c851 !important
}

.btn-success.dropdown-toggle:focus, .btn-success.dropdown-toggle:hover {
    background-color: #00e25b !important
}

.btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    background-color: #006228 !important
}

.btn-success:not([disabled]):not(.disabled).active:focus, .btn-success:not([disabled]):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.success-ic {
    color: #00c851 !important
}

.success-ic:focus, .success-ic:hover {
    color: #00c851
}

a.btn:not([href]):not([tabindex]), a.btn:not([href]):not([tabindex]):focus, a.btn:not([href]):not([tabindex]):hover {
    color: #fff
}

table.table a.btn.btn-success {
    color: #fff
}

.btn-mdb-color {
    background-color: #59698d !important;
    color: #fff
}

.btn-mdb-color:hover {
    background-color: #63759d;
    color: #fff
}

.btn-mdb-color.focus, .btn-mdb-color:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.btn-mdb-color.active, .btn-mdb-color:active, .btn-mdb-color:focus {
    background-color: #323a4e
}

.btn-mdb-color.dropdown-toggle {
    background-color: #59698d !important
}

.btn-mdb-color.dropdown-toggle:focus, .btn-mdb-color.dropdown-toggle:hover {
    background-color: #63759d !important
}

.btn-mdb-color:not([disabled]):not(.disabled).active, .btn-mdb-color:not([disabled]):not(.disabled):active, .show > .btn-mdb-color.dropdown-toggle {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    background-color: #323a4e !important
}

.btn-mdb-color:not([disabled]):not(.disabled).active:focus, .btn-mdb-color:not([disabled]):not(.disabled):active:focus, .show > .btn-mdb-color.dropdown-toggle:focus {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.mdb-color-ic {
    color: #59698d !important
}

.mdb-color-ic:focus, .mdb-color-ic:hover {
    color: #59698d
}

a.btn:not([href]):not([tabindex]), a.btn:not([href]):not([tabindex]):focus, a.btn:not([href]):not([tabindex]):hover {
    color: #fff
}

table.table a.btn.btn-mdb-color {
    color: #fff
}

.btn.btn-md {
    padding: .7rem 1.6rem;
    font-size: .7rem
}

.btn.btn-md .fab, .btn.btn-md .far, .btn.btn-md .fas {
    font-size: .8rem
}

.btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem
}

.btn.btn-sm .fab, .btn.btn-sm .far, .btn.btn-sm .fas {
    font-size: .7rem
}

.btn.btn-tb {
    padding: .3rem 1rem
}

.btn.disabled:active, .btn.disabled:focus, .btn.disabled:hover, .btn:disabled:active, .btn:disabled:focus, .btn:disabled:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.btn.btn-block {
    margin: inherit
}

.btn.btn-link {
    box-shadow: none;
    background-color: transparent
}

.btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
    box-shadow: none !important;
    background-color: transparent
}

.btn[class*=btn-outline-] {
    padding-top: .7rem;
    padding-bottom: .7rem
}

.btn[class*=btn-outline-].btn-lg {
    padding-top: .88rem;
    padding-bottom: .88rem
}

.btn[class*=btn-outline-].btn-md {
    padding-top: .58rem;
    padding-bottom: .58rem
}

/* АМИНЬ */
/* Этот код ради градиента */

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
button.learn-more {
    width: 12rem;
    height: auto;
}
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
button:hover .circle {
    width: 100%;
}
button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
}
button:hover .button-text {
    color: #fff;
}

@supports (display: grid) {


    #container {
        grid-area: main;
        align-self: center;
        justify-self: center;
    }
}
.card-info{
    margin-top: 15px;
}
.card-text:last-child {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.card-public{
    margin-top: 20px
}
.mar{
    margin-top: 30px
}
.slideshow {
    width: 100%;
    padding: 0;
    margin: 0;
    max-height: 700px;
    overflow: hidden;
}
/* cycle slide */
.slideshow .cycle-slide {
    position: relative;
    width: 100%;
    max-height: 700px;
    overflow: hidden;
    background: #000;
}
.slideshow .cycle-slide img {
    display: block;
    width: 100%;
}
/* slide body */
.slideshow .cycle-slide .slide-body {
    position: absolute;
    width: 100%;
    top: 25%;
    z-index: 100;
    opacity: 0;
    margin-left: -50px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.slideshow .cycle-slide.cycle-slide-active .slide-body {
    opacity: 1.0;
    margin: 0;
}
/* slide content */
.slideshow .cycle-slide .slide-content {
    width: 50%;
    margin: 0 auto;
}
.slideshow .cycle-slide .slide-content .content-label {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 0;
    background: #fff;
    color: #333;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.slideshow .cycle-slide .slide-content .content-title {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.2;
    padding: 20px;
    margin: 0 0 30px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
}
.slideshow .cycle-slide .slide-content .content-btn {
    display: inline-block;
    padding: 12px 50px;
    background: rgba(0, 0, 0, .25);
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    border: 2px solid;
    border-radius: 100px;
    text-decoration: none;
}
.slideshow .cycle-slide .slide-content .content-btn:hover {
    background: #fff;
    color: #000;
    border-color: #fff;
}

/* cycle pager */
.slideshow .cycle-pager {
    padding: 30px 0;
    background: #eee;
    text-align: center;
    z-index: 100;
}
.slideshow .cycle-pager span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background: #ccc;
    border-radius: 20px;
    text-indent: -9999px;
    cursor: pointer;
}
.slideshow .cycle-pager span:hover {
    background: #666;
}
.slideshow .cycle-pager span.cycle-pager-active {
    background: #000;
}

/*!* TABLET *!*/
/*@media screen and (max-width: 1024px) {*/

/*    .slideshow .cycle-slide .slide-content {*/
/*        width: 90%;*/
/*    }*/

/*}*/

/*!* MOBILE *!*/
/*@media screen and (max-width: 768px) {*/

/*    .slideshow .cycle-slide .slide-body {*/
/*        top: 10%;*/
/*    }*/
/*    .slideshow .cycle-slide .slide-content {*/
/*        width: 100%;*/
/*    }*/
/*    .slideshow .cycle-slide .slide-content .content-title {*/
/*        font-size: 1.5em;*/
/*    }*/

/*}*/

/*!* SUPER MOBILE *!*/
/*@media screen and (max-width: 600px) {*/

/*    .slideshow .cycle-slide .slide-body {*/
/*        position: static;*/
/*        padding: 30px;*/
/*    }*/
/*    .slideshow .cycle-slide .slide-content {*/
/*        width: 100%;*/
/*        min-height: 300px;*/
/*    }*/
/*    .slideshow .cycle-slide .slide-content .content-title {*/
/*        background: #333;*/
/*        font-size: 1.2em;*/
/*    }*/

/*}*/
@media only screen and (max-width: 767px){
    .slider {
        display: none;
    }
    #main{
        margin-top: 0;
    }
    .std-class {
        margin-top: 15px;
    }
    .mob-but{
        margin-bottom: 20px;
    }
    .member-img img{
        margin: 0;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    body {
        padding-top: 85px;
    }
}
.documentation{
    margin-top: 15px;
}
.announcement-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 5px;
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.2;
    /*margin-bottom: .75rem;*/
}
.post-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 5px;
    padding: 0;
    line-height: 1.2;
    font-size: 1.75rem;
}
.science-title{
    font-size: 36px;
    /* color: #413e66; */
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 20px 5px;
    padding: 0;
}
.port-title{
    font-family: "Montserrat", sans-serif;
    margin: 0 0 20px 5px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #000;
}
.study-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 5px;
    padding: 0;
}
.home-title-main{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin: 0 0 20px 5px;
    padding: 0;
    font-size: 1.75rem;
}
.princep-title{
    font-size: 36px;
    /* color: #413e66; */
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 20px 5px;
    padding: 0;
    line-height: 1.2;
}
.post-last{
    font-size: 36px;
    /* color: #413e66; */
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
    margin: 15px 0 20px 5px;
    padding: 0;
    line-height: 1.2;
}
.st-class{
    margin-top: 10px;
}
.footer-title{
    font-size: 14px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 20px 5px;
}
.page-title{
    margin-top: 30px;
}
.publication-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    /*margin: 20px 0 20px 5px;*/
    margin: 20px;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.2;
}
.owl-dots{
    display: none;
}
.link{
    color: #1bb1dc !important;
    text-decoration: none !important;
    background-color: transparent !important;
}
@media screen and (min-height: 768px) {
    .member-img img{
        max-height: 300px; margin: 50px; width: auto
    }
}

.titleMain {
    position: relative;
}
.titleMain .titleMainChild {
    position: absolute;
    /*margin-bottom: 20px;*/
    bottom: 30px;
    left: 20px;
}
